/*始化*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
/*整体样式*/
html,body{
    width:100%;
    background-color: #f4f4f4;
 
}
.wrapper{
    width: 100%;
    height:100%;
}

// 导航条
.wrapper .top-nav-wrap{
    width: 100%;
    heigh:35px;
    background-color:#f5f5f5;
    border: 1px solid #eee;


}
.wrapper .top-nav-wrap .top-nav{
    width:1190px;
    height:35px;
    margin:0px auto;


}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float: left;


}

.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;

}

.wrapper .top-nav-wrap .top-nav li{
    float:left;
    margin-right: 7px;
}

.wrapper .top-nav-wrap .top-nav li a{
    color:#6c6c6c;
    font-size:12px;
    line-height: 35px;
    padding:0 6px;
}

.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
    color:#f40;
}

.wrapper .top-nav-wrap .top-nav .china{
     color:#3c3c3c;
    font-size:12px;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .china-span{
        padding:0 6px;

}

.wrapper .top-nav-wrap .top-nav .cutOff span{
    color:#ddd;
    line-height:35px;

}

.wrapper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width:6px;
    height:3px;
    vertical-align: middle;
    background-size: 100% 100%;


}
.wrapper .top-nav-wrap .top-nav .xsjPic{
    background-image: url("../img/ewm.jpeg");
}

.wrapper .top-nav-wrap .top-nav .shopCarPic{
    width:12px;
    height:12px;
}

.wrapper .top-nav-wrap .top-nav .likePic{
    width:12px;
    height:11px;

}

.wrapper .top-nav-wrap .top-nav .webNavPic{
    width:8px;
    height:8px;

}

/*搜索*/

.wrapper .search-wrap{
    width:100%;
    height:97px;

    background-color:#FFFFFF;
    padding-top: 24px;
    padding-bottom: 9px;
}

.wrapper .search-con{
    width:1190px;
    height:88px;

    margin:0 auto;
}

.wrapper .search-wrap .search-con .logo-box{
    display:inline-block;
    width:190px;
    height:90px;

    vertical-align:middle;
}
.wrapper .search-wrap .search-con .logo-box ima{
    width:100%;
    height:100%;
}

.wrapper .search-wrap .search-con .search-box{
    display:inline-block;
    height:87px;
    width: 627px;

  margin-left: 50px;
    vertical-align:middle;
}

.wrapper .search-wrap .search-con .search-box .search-bd{
    width: 627px;
    height:62px;


}

.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
    width: 610px;
    height:22px;
    margin-left: 17px;

}

.wrapper .search-wrap .search-con .search-box .search-bd li{
    color:#f40;
    float:left;
    width: 36px;
    height:22px;
    text-align: center;
    line-height:22px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-right:4px;
    font-size:12px;

}

.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
    background-color:#ffeee5;
}

.wrapper .search-wrap .search-con .search-box .search-bd .select{
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    font-weight: 700;
}

.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
    width:627px;
    height:40px;
    position: relative;



}

.wrapper .search-wrap .search-con .search-box .search-bd .btn{
    position:absolute;
    right:0px;
    top:0px;
    width: 74px;
    height: 40px;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}

.wrapper .search-wrap .search-con .search-box .search-bd .btn button{
    border:none;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor:pointer;
    color:#fff;
    font-size: 18px;
    font-weight: 700;

}

.wrapper .search-wrap .search-con .search-box .search-bd .search-inp-box{
    width:551px;
    border:2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    height: 36px;
    overflow: hidden;

}

.wrapper .search-wrap .search-con .search-box .search-bd .search-inp-box .search-inp{
    width:472px;
    height:36;
    overflow: hidden;
}

.wrapper .search-wrap .search-con .search-box .search-bd .search-inp-box .search-inp input{
    width:472px;
    height: 24px;
    border: none;
    line-height: 24px;
    outline:0;
    text-indent: 10px;
    padding: 6px 16px;
    background-color: #fff;

}

.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .camera{
    display:inline-block;
    position:absolute;
}

.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .sousuo{
    width:14px;
    height: 14px;
    top:11px;
    left:12px;
    background-repeat:no-repeat;
}

.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .camera{
    width:23px;
    height: 21px;
    top:11px;
    right: 80px;
    background-repeat: no-repeat;
}

.wrapper .search-wrap .search-con .search-box .search-ft{
    width: 610px;
    height:18px;


}

.wrapper .search-wrap .search-con .search-box .search-ft ul li{
    float: left;
}

.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
    color:#3c3c3c;
    font-size: 12px;
    margin-right: 8px;

}

.wrapper .search-wrap .search-con .search-box .search-ft a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul li select{
    color:#ff5000;
}

.wrapper .search-wrap .search-con .search-box .search-ft .more{
    float: right;
    color:#3c3c3c;
    font-size: 12px;
    line-height: 25px;


}

.wrapper .search-wrap .search-con .code-box{
    display:inline-block;
    height:90px;
    width:76px;
    border:1px solid #eee;
    vertical-align:middle;
    position:relative;
    margin-left:120px;
}

.wrapper .search-wrap .search-con .code-box .p-tb{
    font-size:14px ;
    color:#ff5000;
    text-align: center;
    line-height: 20px;
    margin:4px auto 0;
    width:78px;

}

.wrapper .search-wrap .search-con .code-box .code{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url(../images/ewm.jpeg);
    background-size: 100% 100%;
    margin-left: 5px;

}

.wrapper .search-wrap .search-con .code-box .close{
    position:absolute;
    top:0;
    height: 14px;
    width:14px;
    border:1px solid #eee;
    left:-16px;
    line-height: 14px;
    text-align: center;
    color:#ddd;
    font-size: 14px;


}